<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login/login.css">
    <title>{{title}}</title>
</head>
<body>
     <section class="container">
        {{{body}}}
    </section>
    <script src="js/sesion/sesion.js"></script>
    <script src="js/login/login.js"></script>
</body>
</html>