<div class="login-container">
    <h2 class="message"></h2>
    <div class="circle circle-one"></div>
    <div class="form-container">
        <h1 class="opacity">NUEVA CONTRASEÑA</h1>
        <form class="forgot-form" action="/nueva-contrasena" method="POST">
            <input type="password" name="nuevaContrasena" placeholder="Nueva Contraseña" required>
            <input type="password" name="confirmarContrasena" placeholder="Confirmar Nueva Contraseña" required>
            <input type="hidden" name="correo" value="{{correo}}">
            <button class="opacity">CAMBIAR CONTRASEÑA</button>
        </form>
        <div class="register-forget opacity">
            <a href="/">VOLVER AL LOGIN</a>
        </div>
    </div>
    <div class="circle circle-two"></div>
</div>
<div class="theme-btn-container"></div>
