<div class="login-container">
    <h2 class="message"></h2>
    <div class="circle circle-one"></div>
    <div class="form-container">
        <h1 class="opacity">OLVIDÉ MI CONTRASEÑA</h1>
        <form class="forgot-form" action="/olvide-contrasena" method="POST">
            <input type="email" name="correo" placeholder="Correo Electrónico" required>
            <button class="opacity">ENVIAR PREGUNTA SECRETA</button>
        </form>
        <div class="register-forget opacity">
            <a href="/">VOLVER AL LOGIN</a>
        </div>
    </div>
    <div class="circle circle-two"></div>
</div>
<div class="theme-btn-container"></div>
