<div class="login-container">
    <h2 class="message"></h2>
    <div class="circle circle-one"></div>
    <div class="form-container">
        <h1 class="opacity">PREGUNTA SECRETA</h1>
        <form class="forgot-form" action="/responder-pregunta" method="POST">
            <input type="text" name="respuesta" placeholder="{{pregunta}}" required>
            <input type="hidden" name="correo" value="{{correo}}">
            <button class="opacity">VERIFICAR RESPUESTA</button>
        </form>
        <div class="register-forget opacity">
            <a href="/olvide-contrasena">VOLVER</a>
        </div>
    </div>
    <div class="circle circle-two"></div>
</div>
<div class="theme-btn-container"></div>
